<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Estilos.css">
    <link rel="stylesheet" href="../Css/EstilosContenedor.css">
    <link rel="stylesheet" href="../Css/EstilosFooter.css">
    <link rel="stylesheet" href="../Css/EstilosResponsiveMediaquery.css">
    <title>Patitas Tiernas AC</title>
</head>
<body>
    <header>
        <div class="Container">
          <div class="Información-general">
             <div class="Nombre">
                 <h1>Clinica Veterinaria</h1>
                 <h2>Patitas Tiernas AV</h2>
             </div>
             <div class="Logo">
                 <img src="../Img/logo.png" alt="Logo1">
             </div>
           </div>
           <nav>
             <ul>
                 <li> <a href="">Servicios</a> </li>
                 <li> <a href="">Productos</a> </li>
                 <li> <a href="">Guarderia</a> </li>
                 <li> <a href="">Promociones</a> </li>
             </ul>
           </nav>
       </div>
    </header>
    <section class="Contenedor">
        <div class="Recomendaciones">
            <div class="Cuidados">
                <h1>Cuidados y educación para su perro</h1>
                <div class="Contenido">
                    <div class="Texto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora eos ducimus maxime voluptatibus laboriosam rerum odio blanditiis, magni minima corporis repudiandae facere sequi. Recusandae quasi autem nihil, eaque temporibus quae!</p>
                        <a href="">Ver más...</a>
                    </div>
                    <div class="Imagen">
                        <img src="../Img/Gatos y Perros.png" alt="Gatos y Perros">
                    </div>
                </div>
            </div>
            <div class="Viajes">
                <h1>Salir de viaje con su mascota</h1>
                <div class="Contenido">
                    <div class="Texto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora eos ducimus maxime voluptatibus laboriosam rerum odio blanditiis, magni minima corporis repudiandae facere sequi. Recusandae quasi autem nihil, eaque temporibus quae!</p>
                        <a href="">Ver más...</a>
                    </div>
                    <div class="Imagen">
                        <img src="../Img/Perros y Gatos.png" alt="Perros y Gatos">
                    </div>
                </div>
            </div>
        </div>
        <div class="Formulario">
            <form class="Form">
                <h2>Solicitar cita médica</h2>
                <div class="Grupo">
                    <div class="Titulo">
                     <label for="txtNombre">Mascota:</label>
                     <label for="numEdad">Edad:</label>
                     <label for="txtRaza">Raza:</label>
                     <label for="datFecha">Fecha:</label>
                     <label for="tiempo">Hora:</label>
                     <label for="txtNombre">Amo:</label>
                     <label for="numTeléfono">Teléfono:</label>

                    </div>
                    <div class="Campos">
                     <input type="text" name="txtNombre" placeholder="Ingrese nombre" required>
                     <input type="number" name="numEdad" placeholder="" required>               
                     <input type="text" name="txtRaza" placeholder="Ingrese raza" required>
                     <input type="date" name="datFecha" placeholder="" required>
                     <input type="time" name="tiempo" placeholder="" required>
                     <input type="text" name="txtNombre" placeholder="Ingrese nombre" required>
                     <input type="number" name="numTeléfono" placeholder="Ingrese número" required>

                    </div>
                </div>
            </form>
            <div class="Botón">
                <button>Validar cita</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="Contactenos">
            <p>Contáctenos</p>
            <p>Línea gratuita 018000-00001</p>
            <p>Correo: atencion-clientes@PatitasTiernasAC.com</p>
        </div>
    </footer>    
</body>
</html>